* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #761be4;
  margin-top: -8px;
  cursor: pointer;
  transform: translateY(25%);
}

.age-info::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-bottom: 10px;
  border-right: 8px;
  top: -5px;
  left: 50%;
  background-color: white;
  border-top: 1px solid #cbb6e5;
  border-left: 1px solid #cbb6e5;
  transform: translate(-50%, 0%) rotate(45deg);
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
}
.react-datepicker__navigation--previous {
  left: 28px;
  margin-top: 20px;
}
.react-datepicker__navigation--next {
  right: 28px;
  margin-top: 20px;
}
.react-datepicker__month-container {
  width: 100%;
}
.react-datepicker__header {
  background-color: white;
  border-bottom: none !important;
  margin-top: 20px;
}
.react-datepicker {
  width: 100%;
  border: 1px solid #cbb6e5;
}
.react-datepicker__current-month {
  padding-bottom: 10px;
}
.react-datepicker__day,
.react-datepicker__day-name {
  margin: 0.275rem;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 50%;
}
.react-datepicker__day--today {
  font-weight: normal;
}
.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--selected {
  background-color: #761be4;
}
